
@{
    ViewBag.Title = "AddJedi";
}

<h2>Add Jedi</h2>

<form method="post" >
    <input type="text" name="Name" placeholder="Name" />
    <input type="text" name="Rank" placeholder="Rank" />

    <input type="submit" value="Add Jedi" />
</form>